<div class="d-flex justify-content-between align-items-center border-bottom mb-4 pb-3">
  <h1 class="page-title">Manage testimonial</h1>
  <button class="p-button p-button-sm" (click)="displayAddNewModal=true">Add New</button>
</div>


<xs-laravel-data-table [api]="api" #table [endpoint]="endpoint" [config]="config">
  <ng-template field="actions" let-idx="index" lt-cell-template="" let-item="">
    <div class="spaced-btns">
      <button class="p-button p-button-sm p-button-primary" (click)="editUser(item)">Edit</button>
      <button class="p-button p-button-sm p-button-danger" (click)="delete(item)">Delete</button>
    </div>
  </ng-template>
</xs-laravel-data-table>

<p-dialog styleClass="w-50" [modal]="true" header="{{form.value.id?'Update':'Add New'}} testimonial" [(visible)]="displayAddNewModal" (onHide)="formDialogClosed()">
  <form *ngIf="displayAddNewModal" [formGroup]="form">
    <div class="form-floating mb-3">
      <input type="text" formControlName="name" class="form-control" id="name" placeholder="name@example.com">
      <label for="name">Name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" formControlName="designation" class="form-control" id="designation" placeholder="name@example.com">
      <label for="designation">Designation</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" pKeyFilter="int" formControlName="rating" class="form-control" id="rating" placeholder="name@example.com">
      <label for="rating">Rating</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" formControlName="comment" class="form-control" id="comment" placeholder="name@example.com">
      <label for="comment">Testimonial</label>
    </div>
    <div class="form-group" formFieldContainer>
      <app-image-upload formControlName="image"></app-image-upload>
    </div>
  </form>
  <p-footer>
    <button [disabled]="form.invalid" class="p-button p-button-sm" (click)="submitForm()">{{form.value.id ? 'Update' : 'Add'}} testimonial</button>
  </p-footer>
</p-dialog>
