<div class="form-floating mb-3">
  <input type="text" (change)="update()" [(ngModel)]="item.title" class="form-control" id="title" placeholder="name@example.com">
  <label for="title">Title</label>
</div>
<div class="form-floating mb-3">
  <input type="text" (change)="update()" [(ngModel)]="item.description" class="form-control" id="description" placeholder="name@example.com">
  <label for="description">Description</label>
</div>
<div class="form-floating mb-3">
  <input type="text" (change)="update()" [(ngModel)]="item.button_text" class="form-control" id="button_text" placeholder="name@example.com">
  <label for="button_text">Button text</label>
</div>
<div class="form-floating mb-3">
  <input type="text" (change)="update()" [(ngModel)]="item.button_link" class="form-control" id="button_link" placeholder="name@example.com">
  <label for="button_link">Button link</label>
</div>
<app-image-upload (change)="update()" [(ngModel)]="item.banner"></app-image-upload>
