<div class="d-flex justify-content-between align-items-center border-bottom mb-4 pb-3">
  <h1 class="page-title">Manage solution</h1>
  <button class="p-button p-button-sm" (click)="displayAddNewModal=true">Add New</button>
</div>


<xs-laravel-data-table [api]="api" #table [endpoint]="endpoint" [config]="config">
  <ng-template field="actions" let-idx="index" lt-cell-template="" let-item="">
    <div class="spaced-btns">
      <button class="p-button p-button-sm p-button-primary" (click)="editUser(item)">Edit</button>
      <button class="p-button p-button-sm p-button-danger" (click)="delete(item)">Delete</button>
    </div>
  </ng-template>
</xs-laravel-data-table>

<p-dialog [modal]="true" styleClass="w-50" header="{{form.value.id?'Update':'Add New'}} Solution" [(visible)]="displayAddNewModal" (onHide)="formDialogClosed()">
  <form [formGroup]="form">
    <div class="form-floating mb-3">
      <input type="text" formControlName="title" class="form-control" id="title" placeholder="name@example.com">
      <label for="title">Title</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" formControlName="slug" class="form-control" id="slug" placeholder="name@example.com">
      <label for="slug">Slug</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" formControlName="description" class="form-control" id="description" placeholder="name@example.com">
      <label for="description">Description</label>
    </div>

    <div class="form-floating mb-3">
      <input type="text" formControlName="button_link" class="form-control" id="button_link" placeholder="name@example.com">
      <label for="button_link">Button Link</label>
    </div>
    <app-image-upload formControlName="image"></app-image-upload>

    <div class="form-group mb-3 mt-3">
      <label for="">Content</label>
      <app-editor formControlName="details"></app-editor>
    </div>
    <div class="form-group mb-3 d-flex justify-content-between">
      <label for="">Show from details</label>
      <p-inputSwitch formControlName="show_on_home"></p-inputSwitch>
    </div>

    <h3 class="mt-3">Seo</h3>
    <lib-seo-input formControlName="seo"></lib-seo-input>
  </form>
  <p-footer>
    <button [disabled]="form.invalid" class="p-button p-button-sm" (click)="submitForm()">{{form.value.id ? 'Update' : 'Add'}} Solution</button>
  </p-footer>
</p-dialog>
