<div class="d-flex justify-content-between align-items-center border-bottom mb-4 pb-3">
  <h1 class="page-title">Manage contact-form</h1>
  <button class="p-button p-button-sm" (click)="displayAddNewModal=true">Add New</button>
</div>


<xs-laravel-data-table [api]="api" #table [endpoint]="endpoint" [config]="config">
  <ng-template field="actions" let-idx="index" lt-cell-template="" let-item="">
    <div class="spaced-btns">
      <button class="p-button p-button-sm p-button-danger" mwlConfirmationPopover (confirm)="delete(item)">Delete</button>
    </div>
  </ng-template>
</xs-laravel-data-table>

<p-dialog header="{{form.value.id?'Update':'Add New'}} ContactForm" [(visible)]="displayAddNewModal" (onHide)="formDialogClosed()">
  <form [formGroup]="form" class="dialog-form">

    <p-footer>
      <button [disabled]="form.invalid" class="p-button p-button-sm" (click)="submitForm()">{{form.value.id ? 'Update' : 'Add'}} ContactForm</button>
    </p-footer>

  </form>
</p-dialog>
